
$a : rgb(146, 200, 245);
$b :rgb(178, 218, 250);
$c : rgb(229, 243, 251);
$d : rgb(255, 250, 250);
$white : rgb(0, 0, 0);
.room-nav-link {
    border: 1px solid $a;
    background: $c;
  
    & + .room-nav-link {
      border-top: 0 none;
    }
}

.chat {
    border: 1px solid $a;
    background: lighten($b, 70%);
    height: 50vh;
    border-top: 0 none;
    //border-radius: 5px 5px 0 0;
    overflow-y: auto;
}
  
.chat-input {
    border-top: 0 none;
    border-radius: 0 0 5px 5px;
}

.chat-message-container {
    
    padding: 10px;
    .message-content {
      padding: 10px;
      border: 1px solid $b;
      border-radius: 5px;
      background: $c;
      color: $white;
    }
  
    & + .chat-message-container {
      margin-top: 2px;
    }
}

.room-name{
  padding:8px;
  border-bottom: 0 none;
  border-radius: 5px 5px 0 0;
  background: darken($c, 10%);
  border: 1px solid $a;
}